.App {
  text-align: center;
  color: #8e95a5;
  background: #1e2129;
  width: 100%;
  background-attachment: scroll;
}

@media screen and (max-width: 600px) {
}

.copyright {
  width: 100%;
  background-color: #212529 !important;
  text-align: center;
  padding: 15px;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
}

.CardDesc {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px;
  bottom: 0;
}

.rate {
  position: absolute;
  width: 100%;
  bottom: 6%;
  padding: 5px;
  text-align: start;
}
.CardButton {
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}

.CardButton a {
  color: #8e95a5;
}

.redStar {
  color: #17a2b8;
}

.movieList {
  margin: 50px 0;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #1e2129;
  width: 100%;
  min-height: 100vh;
  background-attachment: scroll;
}

Nav a,
Nav a:hover {
  color: #17a2b8;
}

.description {
  margin: 50px 0;
  width: 100%;
  min-height: 100vh;
  background-attachment: scroll;
  background-color: #1e2129;
}

.detail {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail > div {
  padding: 20px;
  flex: 1;
  text-align: start;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > button {
  border: none;
  color: #1e2129;
  padding: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  border: 0 #ffffff;
  outline: none;
  position: relative;
  bottom: 70px;
}
button:hover {
  background-color: #99e9f2;
}

*:focus {
  outline: 0 !important;
}

.prevNext {
  background-color: #17a2b8;
  color: white;
}

a {
  margin: 10px 15px;
}

